  .grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

/* .image{
    border: 2px solid black;
    border-radius: 50px; 
    
} */

.origami{

    /* width: 300px; */
    font-family: fantasy;
    margin: 40px;
    background-color: white;
    padding: 10px;

    align-self:center;

}

.image:hover{
    transform: scale(1.2);
    
}

.image{
    position: relative
}

.image p{
    color: black;
    position: absolute;
    bottom:-10%;
    left:45%;
    /* font-size: 55px; */
    transform: translate(-50%,-50%);
}

body{
    margin: 0px;
    background-color: rgb(129, 164, 230);
}

.menu{ 
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    /* padding: 15px; */

    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color: whitesmoke;
}

.topL{
    position: absolute;
    padding: 1 px;
    /* top: 30px; */
    left: 10%;
    font-size: 40px;
    font-family: 'fuggles';
}

.topM{
    position: absolute;
    padding: 15px; 
    /* top: 30px;  */
    left: 40%;
    font-size: 15px;
    font-family: 'Otomanopee One', sans-serif;
}

.topR{
    position: absolute;
    padding: 15px; 
    /* top: 30px; */
    right: 10%;
    font-family: 'Otomanopee One', sans-serif;
}


.headertxt {
    position: absolute;
    margin-left: 80px;
    margin-right: 80px;
    top: 100px;
    right: 16px;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Fuggles', cursive;;

  }

  a:link{
    color:whitesmoke;
    text-decoration: none
}

a:visited{
    color:whitesmoke;
    text-decoration: none
}
  